.post-list {
  margin: 1em 0;
  list-style: none;
}
.post-author-name {
  font-size: 16px;
}
.post-list li {
  margin-bottom: 72px;
  &:hover {
    border-bottom: 0.5px solid black;
  }
}
.post_link_a {
  display: block;
  margin-bottom: 24px;
}
.post-link {
  font-size: 18px;
  line-height: 1.6;
  text-decoration: none;
  padding: 0.25em;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  @media (min-width: $on-tablet) {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    .post-date {
      margin-left: auto;
    }
  }
}
.mg-10 {
  margin: 10px;
}
.tags {
  margin: 24px 0;
}
.post-link__heading {
  display: block;
  margin-right: 4em;
  @media (min-width: $on-tablet) {
    padding: 0.25em 0;
  }
  // * {
  //   color: white;
  // }
  h1 {
    font-weight: 700;
    line-height: 1.15;
    font-size: 32px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.post-link__title {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 1.5rem;
  line-height: 1.15;
}
.post-link__title + .post-link__excerpt {
  opacity: 0.6;
}

.post-pagination {
  margin-top: 4rem;
  font-size: 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1em 0;
  }
  &:hover,
  &:focus-within {
    a {
      opacity: 0.6;
    }
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 0.125s ease-in-out;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 480px) {
  .post-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px 0 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .post-link {
    border-bottom: solid black 1px;
    position: relative;
    .post-date {
      font-size: 12px;
    }
  }
}
