$brand-color: #fede00;
$highlight: lighten($brand-color, 35%);
$text-color: #0b0404;
$muted-text-color: #000;
$font-family: Rubik, Lato, Lucida Grande, Lucida Sans Unicode, Tahoma;

$on-bigphone: 375px;
$on-tablet: 768px;
$on-laptop: 960px;
$on-desktop: 1200px;
