$bg-color: #ff8888; //start color
$stops: 100; //smoothness
$time: 20s; //duration of animation
$hue-range: 50; //of 360deg

body{ 
  background-color: $bg-color; 
  -webkit-animation: colorChange $time linear 0s infinite;
  animation: colorChange $time linear 0s infinite ;
}

@-webkit-keyframes colorChange{
  @for $i from 0 through $stops{
    $old-color: adjust-hue($bg-color, (360/$stops)*$i);
    $new-color: adjust-hue($bg-color, (360/$stops)*$i + $hue-range);
    #{$i}% {
      background: -webkit-linear-gradient(left, $old-color, $new-color);
      background: linear-gradient(to right, $old-color, $new-color);
    }
  } 
}
@keyframes colorChange{
  @for $i from 0 through $stops{
    $old-color: adjust-hue($bg-color, (360/$stops)*$i);
    $new-color: adjust-hue($bg-color, (360/$stops)*$i + $hue-range);
    #{$i}% {
      background: linear-gradient(to right, $old-color, $new-color);
    }
  } 
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #ffffff; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #000000d9; 
  }